<div class="wrapCronograma">
    <div class="title">
        <h2><button [routerLink]="['/home']">MEMBRESIA</button>/<button [routerLink]="['/home/cronograma',idMembresia]">CRONOGRAMA</button> / VOUCHER</h2>
    </div>
    
    <div class="contentVouchers">
        <div class="voucher" *ngFor="let voucher of dataCronograma.paymentVouchers">
            <img [src]="'data:image/jpeg;base64,'+voucher.base64">
            <p class="titleBoucher">{{ voucher.namePicture }}</p>
            <p><b>Total Pago: </b>{{ voucher.totalAmount }}</p>
            <p><b>Tipo Pago: </b>{{ voucher.nameMethodTipoPago }}</p>
            <p><b>Nota: </b>{{ voucher.note }}</p>
        </div>
    </div>
</div>