$white:#fff;
$black:#000;
//Font color
$font-color-login-title: #ffffff;
$font-color-login-input-title: #ffffff;
$font-color-login-input: #bdbdbd;
$font-color-login-button: #ffffff;
//Background
$bg-login-button: #000000;
$bg-login-formulario: #000000;

$bg-home-header: #000000;

$background-header-table: #0874AA;
$background-table-even : #dbdbdb;

$bg-button-primary: #000000;
$bg-button-second: #000000;
$bg-button-primary-hover: #2f2f2f;
$bg-button-second-hover: #2f2f2f;
//Border
$border-login-input: #bdbdbd;
$border-home-title-nav: #505050;