<div class="wrapHeader">
    <div class="contentTitleHeader">
        <h1>TEST</h1>
    </div>

    <div class="contentUserHeader">
        <button class="user" (click)="openClosedMenu()">
            <p>{{ userName }}</p>
            <div class="icon">
                <img src="assets/icons/icon-user.png">
            </div>
        </button>
        <div class="menuUser" [ngClass]="{'menuUserActive':activeMenuUser}">
            <p>¡Hola, {{ userName }}!</p>
            <ul>
                <li>
                    <button (click)="logOut()">
                        Cerrar Sesión
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>